/testCameraRasberry/target/
/appCameraClienteNoMaven/nbproject/private/
/appCameraClienteNoMaven/build/
/clienteRaspBerry/nbproject/private/
/clienteRaspBerry/build/
/clienteRaspberryConsole/nbproject/private/
/clienteRaspberryConsole/build/
/clienteTest/nbproject/private/
/clienteTest/build/