/testCameraRasberry/target/
/appCameraClienteNoMaven/nbproject/private/
/appCameraClienteNoMaven/build/
/clienteRaspBerry/nbproject/private/
/clienteRaspBerry/build/
/clienteRaspberryConsole/nbproject/private/
/clienteRaspberryConsole/dist/